<VirtualHost *:80>
	ServerAdmin webmaster@localhost

	DocumentRoot /var/www/92fiveapp
	<Directory /var/www/92fiveapp>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/92fiveapp.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/92fiveapp.log combined
</VirtualHost>
